# –†–∞—Å—à–∏—Ä–µ–Ω–Ω–æ–µ —Ç–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –º–æ–¥—É–ª—è —Ñ–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏—è –ø–æ—Ä—Ç—Ñ–µ–ª—è

–≠—Ç–æ—Ç –Ω–æ—É—Ç–±—É–∫ –¥–µ–º–æ–Ω—Å—Ç—Ä–∏—Ä—É–µ—Ç —Ä–∞—Å—à–∏—Ä–µ–Ω–Ω—ã–π —Ü–∏–∫–ª —Ä–∞–±–æ—Ç—ã —Å –º–æ–¥—É–ª–µ–º tvr_service.pipeline.portfolio ‚Äî –æ—Ç –∑–∞–≥—Ä—É–∑–∫–∏ –¥–∞–Ω–Ω—ã—Ö –ø–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞–º –¥–æ —Ä–∞—Å—á—ë—Ç–∞ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –∫–∞–ø–∏—Ç–∞–ª–∞ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ –∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤.

## 1. –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –æ–∫—Ä—É–∂–µ–Ω–∏—è

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –ø–æ–¥–∫–ª—é—á–∏–º –º–æ–¥—É–ª—å –ø–æ—Ä—Ç—Ñ–µ–ª—è. –î–æ–±–∞–≤–ª—è–µ–º –∫–∞—Ç–∞–ª–æ–≥ src –≤ sys.path, —á—Ç–æ–±—ã –º–æ–∂–Ω–æ –±—ã–ª–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∫–æ–¥ –ø—Ä–æ–µ–∫—Ç–∞ –±–µ–∑ —É—Å—Ç–∞–Ω–æ–≤–∫–∏ –ø–∞–∫–µ—Ç–∞.

In [1]:
import sys
from pathlib import Path

#========================
# import pandas as pd
# import numpy as np

# # –ù–∞—Å—Ç—Ä–æ–π–∫–∞ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è
# pd.set_option('display.max_rows', None)        # –ü–æ–∫–∞–∑—ã–≤–∞—Ç—å –≤—Å–µ —Å—Ç—Ä–æ–∫–∏
# pd.set_option('display.max_columns', None)     # –ü–æ–∫–∞–∑—ã–≤–∞—Ç—å –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏  
# pd.set_option('display.width', None)           # –ù–µ –æ–≥—Ä–∞–Ω–∏—á–∏–≤–∞—Ç—å —à–∏—Ä–∏–Ω—É
# pd.set_option('display.max_colwidth', 50)      # –û–≥—Ä–∞–Ω–∏—á–∏—Ç—å —à–∏—Ä–∏–Ω—É –∫–æ–ª–æ–Ω–æ–∫ –¥–ª—è —á–∏—Ç–∞–µ–º–æ—Å—Ç–∏
# pd.set_option('display.expand_frame_repr', False)  # –ù–µ –ø–µ—Ä–µ–Ω–æ—Å–∏—Ç—å DataFrame –Ω–∞ –Ω–æ–≤—É—é —Å—Ç—Ä–æ–∫—É
#========================

PROJECT_ROOT = Path.cwd().parent
SRC_DIR = PROJECT_ROOT / 'src'
if str(SRC_DIR) not in sys.path:
    sys.path.append(str(SRC_DIR))

from tvr_service.pipeline import (
    allocations_to_frame,
    build_portfolio,
    filter_by_suffix,
    filter_by_whitelist,
    load_securities,
    load_whitelist,
    )

import pandas as pd

## 2. –ù–∞—Å—Ç—Ä–æ–π–∫–∞ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ —Ç–µ—Å—Ç–∞

–ó–∞–¥–∞—ë–º –±–∞–∑–æ–≤—ã–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã: –æ–±—ä—ë–º –∫–∞–ø–∏—Ç–∞–ª–∞, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç—å —Å–∫–∞—á–∏–≤–∞–Ω–∏—è —Å–≤–µ–∂–∏—Ö –¥–∞–Ω–Ω—ã—Ö —Å MOEX, –ø—É—Ç—å –∫ –ª–æ–∫–∞–ª—å–Ω–æ–º—É CSV (–µ—Å–ª–∏ –æ–Ω –µ—Å—Ç—å), —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—é –ø–æ —Å—É—Ñ—Ñ–∏–∫—Å—É —Ç–∏–∫–µ—Ä–∞, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –∏ –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç.

In [25]:
CAPITAL = 3_00_000  # –æ–±—â–∏–π –∫–∞–ø–∏—Ç–∞–ª, —Ä—É–±.
PREFER_REMOTE = True   # –ø—Ä–∏ True —Å–Ω–∞—á–∞–ª–∞ –ø—Ä–æ–±—É–µ–º —Å–∫–∞—á–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Å MOEX
SEC_DATA_FILE = None   # –º–æ–∂–Ω–æ —É–∫–∞–∑–∞—Ç—å –ø—É—Ç—å –∫ –ª–æ–∫–∞–ª—å–Ω–æ–º—É sec_tvr.csv
SUFFIX_FILTER = 'Z5'   # –Ω–∞–ø—Ä–∏–º–µ—Ä, 'H5', 'M5' –∏ —Ç.–ø. –¥–ª—è —Ñ—å—é—á–µ—Ä—Å–æ–≤
NUM_PARAMS = 1         # –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ –≤ –ø–æ—Ä—Ç—Ñ–µ–ª–µ
SEC_IND = 'MXZ5'       # –∫–æ–¥ –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ (–ø—Ä–∏–º–µ—Ä)

# –ü–∞—Ä–∞–º–µ—Ç—Ä—ã –¥–ª—è —Ä–∞—Å—á–µ—Ç–∞ float –∑–Ω–∞—á–µ–Ω–∏–π
float_1_x = 0.01  # –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –¥–ª—è float_1
float_2_x = 0.02   # –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –¥–ª—è float_2
float_3_x = 0.01   # –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è float_3
float_4_x = 0.05   # –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è float_4

## 3. –ó–∞–≥—Ä—É–∑–∫–∞ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤

–ü–æ–ø—Ä–æ–±—É–µ–º –ø–æ–ª—É—á–∏—Ç—å —Ç–∞–±–ª–∏—Ü—É –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤. –§—É–Ω–∫—Ü–∏—è load_securities –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ —Ä–∞—Å—Å—á–∏—Ç–∞–µ—Ç –ø–æ–ª–µ full_price –∏ –¥–æ–±–∞–≤–∏—Ç —Ç–∏–∫–µ—Ä—ã TI* (–∫–ª–æ–Ω–æ–≤ TB*). –í –ø—Ä–æ—Ü–µ—Å—Å–µ –±—É–¥–µ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω —Å–ø–∏—Å–æ–∫ –∏–∑ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–∞ –∏–ª–∏ –ª–æ–∫–∞–ª—å–Ω–æ–≥–æ —Ñ–∞–π–ª–∞.

In [3]:
securities = load_securities(sec_data_file=SEC_DATA_FILE, prefer_remote=PREFER_REMOTE)
print(f"–ó–∞–≥—Ä—É–∂–µ–Ω–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: {len(securities)}")
# securities.head()

–ó–∞–≥—Ä—É–∂–µ–Ω–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: 400

## 4. –ü–æ–ª—É—á–µ–Ω–∏–µ —Ü–µ–Ω—ã –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞

–ù–∞–π–¥–µ–º —Ü–µ–Ω—É –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ –≤ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–µ –∏ —Å–æ—Ö—Ä–∞–Ω–∏–º –µ—ë –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é SEC_IND_PRICE.

In [4]:
# –ü–æ–∏—Å–∫ –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ –≤ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–µ
indicator_security = securities[securities['SECID'] == SEC_IND]

if not indicator_security.empty:
    SEC_IND_PRICE = indicator_security['full_price'].iloc[0]
    print(f"–ò–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç {SEC_IND} –Ω–∞–π–¥–µ–Ω. –¶–µ–Ω–∞: {SEC_IND_PRICE:,.2f} —Ä—É–±.")
    print(f"–ö—Ä–∞—Ç–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ: {indicator_security['SHORTNAME'].iloc[0]}")
else:
    print(f"–ò–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç {SEC_IND} –Ω–µ –Ω–∞–π–¥–µ–Ω –≤ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–µ!")
    print("–î–æ—Å—Ç—É–ø–Ω—ã–µ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã —Å –ø–æ—Ö–æ–∂–∏–º–∏ –∫–æ–¥–∞–º–∏:")
    similar_securities = securities[securities['SECID'].str.contains(SEC_IND[:3], case=False)]
    if not similar_securities.empty:
        print(similar_securities[['SECID', 'SHORTNAME']].head())
    else:
        print("–ü–æ—Ö–æ–∂–∏—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –Ω–µ –Ω–∞–π–¥–µ–Ω–æ.")
    SEC_IND_PRICE = None

–ò–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç MXZ5 –Ω–∞–π–¥–µ–Ω. –¶–µ–Ω–∞: 281,500.00 —Ä—É–±.
–ö—Ä–∞—Ç–∫–æ–µ –Ω–∞–∑–≤–∞–Ω–∏–µ: MIX-12.25

## 5. –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞

–°–Ω–∞—á–∞–ª–∞ –æ–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ–º —Å–ø–∏—Å–æ–∫ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –ø–æ –≤—ã–±—Ä–∞–Ω–Ω–æ–º—É `SUFFIX_FILTER`, –∑–∞—Ç–µ–º –ø—Ä–∏–º–µ–Ω—è–µ–º whitelist. –¢–∞–∫ –º–æ–∂–Ω–æ —Å—É–∑–∏—Ç—å –≤—Å–µ–ª–µ–Ω–Ω—É—é –¥–æ –Ω—É–∂–Ω–æ–π —Å–µ—Ä–∏–∏ –∏ –¥–∞–ª–µ–µ –æ—Å—Ç–∞–≤–∏—Ç—å —Ç–æ–ª—å–∫–æ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏–µ –±–∞–∑–æ–≤—ã–µ –∞–∫—Ç–∏–≤—ã.

In [5]:
try:
    whitelist = load_whitelist()
    print(f'–ò–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –≤ whitelist: {len(whitelist)}')
except FileNotFoundError:
    whitelist = None
    print('–§–∞–π–ª whitelist –Ω–µ –Ω–∞–π–¥–µ–Ω. –ë—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–æ–ª–Ω—É—é –≤—Å–µ–ª–µ–Ω–Ω—É—é –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤.')

# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø–æ —Å—É—Ñ—Ñ–∏–∫—Å—É
base_selection = filter_by_suffix(securities, SUFFIX_FILTER)
print(f'–ò–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –ø–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞ –ø–æ —Å—É—Ñ—Ñ–∏–∫—Å—É {SUFFIX_FILTER}: {len(base_selection)}')

# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø–æ whitelist
if whitelist and not base_selection.empty:
    filtered_securities = filter_by_whitelist(base_selection, whitelist)
    print(f'–ò–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –ø–æ—Å–ª–µ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è whitelist: {len(filtered_securities)}')
elif whitelist:
    filtered_securities = pd.DataFrame(columns=base_selection.columns if not base_selection.empty else securities.columns)
    print('–ü–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞ –ø–æ —Å—É—Ñ—Ñ–∏–∫—Å—É –ø–æ–¥—Ö–æ–¥—è—â–∏—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –Ω–µ—Ç.')
else:
    filtered_securities = base_selection

if not filtered_securities.empty:
    print('–ü—Ä–∏–º–µ—Ä—ã –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤:')
    display(filtered_securities[['SECID', 'SHORTNAME', 'base_code', 'full_price']].head())
    
    # –ü—Ä–æ–≤–µ—Ä–∫–∞ —É–Ω–∏–∫–∞–ª—å–Ω–æ—Å—Ç–∏ –ø–æ base_code
    print(f"\n–ü—Ä–æ–≤–µ—Ä–∫–∞ —É–Ω–∏–∫–∞–ª—å–Ω–æ—Å—Ç–∏ –ø–æ base_code:")
    unique_base_codes = filtered_securities['base_code'].nunique()
    total_instruments = len(filtered_securities)
    print(f"–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö base_code: {unique_base_codes}")
    print(f"–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: {total_instruments}")
    
    if unique_base_codes != total_instruments:
        print("‚ö†Ô∏è  –í–ù–ò–ú–ê–ù–ò–ï: –ù–∞–π–¥–µ–Ω—ã –¥—É–±–ª–∏–∫–∞—Ç—ã –ø–æ base_code!")
        duplicates = filtered_securities.groupby('base_code').size()
        duplicates = duplicates[duplicates > 1]
        print(f"–î—É–±–ª–∏—Ä—É—é—â–∏–µ—Å—è base_code ({len(duplicates)}):")
        for base_code, count in duplicates.head(10).items():
            print(f"  {base_code}: {count} –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤")
            # –ü–æ–∫–∞–∑—ã–≤–∞–µ–º –ø—Ä–∏–º–µ—Ä—ã –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
            examples = filtered_securities[filtered_securities['base_code'] == base_code][['SECID', 'SHORTNAME', 'base_code']]
            print(f"    –ü—Ä–∏–º–µ—Ä—ã: {examples['SECID'].tolist()}")
    else:
        print("‚úÖ –í—Å–µ base_code —É–Ω–∏–∫–∞–ª—å–Ω—ã")
        
else:
    print('–ü–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –Ω–µ –Ω–∞–π–¥–µ–Ω–æ.')

–ò–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –≤ whitelist: 44
–ò–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –ø–æ—Å–ª–µ —Ñ–∏–ª—å—Ç—Ä–∞ –ø–æ —Å—É—Ñ—Ñ–∏–∫—Å—É Z5: 131
–ò–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –ø–æ—Å–ª–µ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏—è whitelist: 45
–ü—Ä–∏–º–µ—Ä—ã –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤:

  SECID   SHORTNAME base_code  full_price
0  AFZ5  AFLT-12.25      AFLT      5793.0
1  AKZ5  AFKS-12.25      AFKS     14687.0
2  ALZ5  ALRS-12.25      ALRS      4627.0
3  BNZ5  BANE-12.25      BANE      1600.0
4  CMZ5  CBOM-12.25      CBOM      7539.0

–ü—Ä–æ–≤–µ—Ä–∫–∞ —É–Ω–∏–∫–∞–ª—å–Ω–æ—Å—Ç–∏ –ø–æ base_code:
–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö base_code: 44
–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: 45
‚ö†Ô∏è  –í–ù–ò–ú–ê–ù–ò–ï: –ù–∞–π–¥–µ–Ω—ã –¥—É–±–ª–∏–∫–∞—Ç—ã –ø–æ base_code!
–î—É–±–ª–∏—Ä—É—é—â–∏–µ—Å—è base_code (1):
  T: 2 –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤
    –ü—Ä–∏–º–µ—Ä—ã: ['TBZ5', 'TIZ5']

## 5.2. –ê–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–Ω—ã–π –¥–∏–∞–ª–æ–≥ (–±–µ–∑ ipywidgets)

–ï—Å–ª–∏ ipywidgets –Ω–µ–¥–æ—Å—Ç—É–ø–Ω—ã, –∏—Å–ø–æ–ª—å–∑—É–µ–º –ø—Ä–æ—Å—Ç–æ–π —Ç–µ–∫—Å—Ç–æ–≤—ã–π –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å –¥–ª—è –≤—ã–±–æ—Ä–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

In [6]:
def remove_duplicates_simple(df, base_code_column='base_code'):
    """
    –ü—Ä–æ—Å—Ç–∞—è —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏—Ä—É—é—â–∏—Ö—Å—è –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –ø–æ base_code.
    –ò—Å–ø–æ–ª—å–∑—É–µ—Ç —Ç–µ–∫—Å—Ç–æ–≤—ã–π –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å –≤–º–µ—Å—Ç–æ ipywidgets.
    
    Args:
        df: DataFrame —Å –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞–º–∏
        base_code_column: –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏ –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
    
    Returns:
        DataFrame –±–µ–∑ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
    """
    import pandas as pd
    
    # –ù–∞—Ö–æ–¥–∏–º –¥—É–±–ª–∏–∫–∞—Ç—ã
    duplicates = df.groupby(base_code_column).size()
    duplicates = duplicates[duplicates > 1]
    
    if len(duplicates) == 0:
        print("‚úÖ –î—É–±–ª–∏–∫–∞—Ç–æ–≤ –Ω–µ –Ω–∞–π–¥–µ–Ω–æ!")
        return df
    
    print(f"üîç –ù–∞–π–¥–µ–Ω–æ {len(duplicates)} –≥—Ä—É–ø–ø –¥—É–±–ª–∏–∫–∞—Ç–æ–≤:")
    
    indices_to_remove = []
    
    for base_code in duplicates.index:
        group_data = df[df[base_code_column] == base_code]
        print(f"\nüìã –ì—Ä—É–ø–ø–∞ '{base_code}' ({len(group_data)} –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤):")
        
        # –ü–æ–∫–∞–∑—ã–≤–∞–µ–º –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã –≤ –≥—Ä—É–ø–ø–µ
        for i, (idx, row) in enumerate(group_data.iterrows()):
            print(f"  {i+1}. {row['SECID']} - {row['SHORTNAME']} (—Ü–µ–Ω–∞: {row['full_price']})")
        
        # –ó–∞–ø—Ä–∞—à–∏–≤–∞–µ–º –≤—ã–±–æ—Ä
        print(f"\n‚ùì –ö–∞–∫–∏–µ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã –∏–∑ –≥—Ä—É–ø–ø—ã '{base_code}' —É–¥–∞–ª–∏—Ç—å?")
        print("   –í–≤–µ–¥–∏—Ç–µ –Ω–æ–º–µ—Ä–∞ —á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é (–Ω–∞–ø—Ä–∏–º–µ—Ä: 1,3) –∏–ª–∏ 'all' –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è –≤—Å–µ—Ö –∫—Ä–æ–º–µ –ø–µ—Ä–≤–æ–≥–æ:")
        
        try:
            choice = input(2).strip()
            
            if choice.lower() == 'all':
                # –£–¥–∞–ª—è–µ–º –≤—Å–µ –∫—Ä–æ–º–µ –ø–µ—Ä–≤–æ–≥–æ
                indices_to_remove.extend(group_data.index[1:].tolist())
                print(f"   ‚úÖ –ë—É–¥–µ—Ç —É–¥–∞–ª–µ–Ω–æ {len(group_data)-1} –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ (–æ—Å—Ç–∞–Ω–µ—Ç—Å—è –ø–µ—Ä–≤—ã–π)")
            elif choice:
                # –ü–∞—Ä—Å–∏–º –Ω–æ–º–µ—Ä–∞
                numbers = [int(x.strip()) for x in choice.split(',') if x.strip().isdigit()]
                if numbers:
                    # –ü—Ä–æ–≤–µ—Ä—è–µ–º –≤–∞–ª–∏–¥–Ω–æ—Å—Ç—å –Ω–æ–º–µ—Ä–æ–≤
                    valid_numbers = [n for n in numbers if 1 <= n <= len(group_data)]
                    if valid_numbers:
                        # –ü–æ–ª—É—á–∞–µ–º –∏–Ω–¥–µ–∫—Å—ã –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è
                        indices_to_remove.extend([group_data.index[n-1] for n in valid_numbers])
                        print(f"   ‚úÖ –ë—É–¥–µ—Ç —É–¥–∞–ª–µ–Ω–æ {len(valid_numbers)} –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤")
                    else:
                        print("   ‚ö†Ô∏è –ù–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –Ω–æ–º–µ—Ä–∞, –ø—Ä–æ–ø—É—Å–∫–∞–µ–º –≥—Ä—É–ø–ø—É")
                else:
                    print("   ‚ö†Ô∏è –ù–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π –≤–≤–æ–¥, –ø—Ä–æ–ø—É—Å–∫–∞–µ–º –≥—Ä—É–ø–ø—É")
            else:
                print("   ‚è≠Ô∏è –ì—Ä—É–ø–ø–∞ –ø—Ä–æ–ø—É—â–µ–Ω–∞")
                
        except (ValueError, KeyboardInterrupt):
            print("   ‚ö†Ô∏è –ù–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π –≤–≤–æ–¥ –∏–ª–∏ –ø—Ä–µ—Ä—ã–≤–∞–Ω–∏–µ, –ø—Ä–æ–ø—É—Å–∫–∞–µ–º –≥—Ä—É–ø–ø—É")
            continue
    
    if indices_to_remove:
        print(f"\nüóëÔ∏è –£–¥–∞–ª—è–µ–º {len(indices_to_remove)} –≤—ã–±—Ä–∞–Ω–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤...")
        
        # –£–¥–∞–ª—è–µ–º –≤—ã–±—Ä–∞–Ω–Ω—ã–µ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã
        df_cleaned = df.drop(indices_to_remove).reset_index(drop=True)
        
        print(f"‚úÖ –û—á–∏—Å—Ç–∫–∞ –∑–∞–≤–µ—Ä—à–µ–Ω–∞!")
        print(f"   –ò—Å—Ö–æ–¥–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ: {len(df)}")
        print(f"   –ü–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏: {len(df_cleaned)}")
        print(f"   –£–¥–∞–ª–µ–Ω–æ: {len(df) - len(df_cleaned)}")
        
        # –ü—Ä–æ–≤–µ—Ä—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
        remaining_duplicates = df_cleaned.groupby(base_code_column).size()
        remaining_duplicates = remaining_duplicates[remaining_duplicates > 1]
        
        if len(remaining_duplicates) == 0:
            print("‚úÖ –í—Å–µ –¥—É–±–ª–∏–∫–∞—Ç—ã —É—Å–ø–µ—à–Ω–æ —É–¥–∞–ª–µ–Ω—ã!")
        else:
            print(f"‚ö†Ô∏è –û—Å—Ç–∞–ª–∏—Å—å –¥—É–±–ª–∏–∫–∞—Ç—ã: {len(remaining_duplicates)} –≥—Ä—É–ø–ø")
        
        return df_cleaned
    else:
        print("‚ÑπÔ∏è –ù–∏—á–µ–≥–æ –Ω–µ –≤—ã–±—Ä–∞–Ω–æ –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è.")
        return df

# –ü–æ–ø—Ä–æ–±—É–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø—Ä–æ—Å—Ç—É—é –≤–µ—Ä—Å–∏—é, –µ—Å–ª–∏ –∏–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–∞—è –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç
try:
    if 'filtered_securities' in locals() and not filtered_securities.empty:
        print("üîß –ó–∞–ø—É—Å–∫–∞–µ–º –ø—Ä–æ—Å—Ç–æ–π –¥–∏–∞–ª–æ–≥ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤...")
        filtered_securities_cleaned = remove_duplicates_simple(filtered_securities)
        
        # –û–±–Ω–æ–≤–ª—è–µ–º –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é
        filtered_securities = filtered_securities_cleaned
        print(f"\nüìä –ò—Ç–æ–≥–æ–≤–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: {len(filtered_securities)}")
    else:
        print("‚ùå –ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤")
except Exception as e:
    print(f"‚ùå –û—à–∏–±–∫–∞ –ø—Ä–∏ –æ–±—Ä–∞–±–æ—Ç–∫–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: {e}")
    print("–ü—Ä–æ–¥–æ–ª–∂–∞–µ–º —Å –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏...")

üîß –ó–∞–ø—É—Å–∫–∞–µ–º –ø—Ä–æ—Å—Ç–æ–π –¥–∏–∞–ª–æ–≥ —É–¥–∞–ª–µ–Ω–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ–≤...
üîç –ù–∞–π–¥–µ–Ω–æ 1 –≥—Ä—É–ø–ø –¥—É–±–ª–∏–∫–∞—Ç–æ–≤:

üìã –ì—Ä—É–ø–ø–∞ 'T' (2 –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤):
  1. TBZ5 - T-12.25 (—Ü–µ–Ω–∞: 3222.0)
  2. TIZ5 - T-12.25 (—Ü–µ–Ω–∞: 3222.0)

‚ùì –ö–∞–∫–∏–µ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã –∏–∑ –≥—Ä—É–ø–ø—ã 'T' —É–¥–∞–ª–∏—Ç—å?
   –í–≤–µ–¥–∏—Ç–µ –Ω–æ–º–µ—Ä–∞ —á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é (–Ω–∞–ø—Ä–∏–º–µ—Ä: 1,3) –∏–ª–∏ 'all' –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è –≤—Å–µ—Ö –∫—Ä–æ–º–µ –ø–µ—Ä–≤–æ–≥–æ:
   ‚úÖ –ë—É–¥–µ—Ç —É–¥–∞–ª–µ–Ω–æ 1 –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤

üóëÔ∏è –£–¥–∞–ª—è–µ–º 1 –≤—ã–±—Ä–∞–Ω–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤...
‚úÖ –û—á–∏—Å—Ç–∫–∞ –∑–∞–≤–µ—Ä—à–µ–Ω–∞!
   –ò—Å—Ö–æ–¥–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ: 45
   –ü–æ—Å–ª–µ –æ—á–∏—Å—Ç–∫–∏: 44
   –£–¥–∞–ª–µ–Ω–æ: 1
‚úÖ –í—Å–µ –¥—É–±–ª–∏–∫–∞—Ç—ã —É—Å–ø–µ—à–Ω–æ —É–¥–∞–ª–µ–Ω—ã!

üìä –ò—Ç–æ–≥–æ–≤–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: 44

## 6. –°–æ–∑–¥–∞–Ω–∏–µ –æ—Å–Ω–æ–≤—ã –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –ø–æ—Ä—Ç—Ñ–µ–ª—è

–°–æ–∑–¥–∞–µ–º –æ—Å–Ω–æ–≤—É –¥–ª—è –ø–æ—Ä—Ç—Ñ–µ–ª—è —Å —Ä–∞—Å—á–µ—Ç–æ–º –≤–µ—Å–æ–≤—ã—Ö –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ –∏–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞.

In [26]:
if SEC_IND_PRICE is not None and not filtered_securities.empty:
    print(f"–°–æ–∑–¥–∞–µ–º –æ—Å–Ω–æ–≤—É –ø–æ—Ä—Ç—Ñ–µ–ª—è —Å {NUM_PARAMS} –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞")
    print(f"–ò–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç: {SEC_IND} (—Ü–µ–Ω–∞: {SEC_IND_PRICE:,.2f} —Ä—É–±.)")
    
    # –°–æ–∑–¥–∞–µ–º —Å–ø–∏—Å–æ–∫ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –ø–æ—Ä—Ç—Ñ–µ–ª—è
    portfolio_basis = []
    
    for idx, row in filtered_securities.iterrows():
        sec_0 = row['SECID']
        sec_0_price = row['full_price']
        sec_0_GO = row['INITIALMARGIN']
        sec_1 = SEC_IND
        
        # –†–∞—Å—á–µ—Ç –≤–µ—Å–æ–≤–æ–≥–æ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–∞ W_0
        W_0 = (sec_0_price / SEC_IND_PRICE * 1000000) // 1000 / 1000
        
        # –†–∞—Å—á–µ—Ç float –∑–Ω–∞—á–µ–Ω–∏–π
        float_1 = max(1, int(sec_0_price / 100 * float_1_x))
        float_2 = max(1, int(sec_0_price / 100 * float_2_x))
        float_3 = float_3_x
        float_4 = float_4_x
        
        # –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏ SM
        SM = f"{float_1};{float_2};{float_3};{float_4}"
        
        portfolio_basis.append({
            'Sec_0': sec_0,
            'sec_0_price': sec_0_price,
            'sec_0_GO': sec_0_GO,
            'sec_1': sec_1,
            'W_0': W_0,
            'SM': SM
        })
    
    # –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ DataFrame
    portfolio_basis_df = pd.DataFrame(portfolio_basis)
    
    print(f"\n–°–æ–∑–¥–∞–Ω–∞ –æ—Å–Ω–æ–≤–∞ –ø–æ—Ä—Ç—Ñ–µ–ª—è –¥–ª—è {len(portfolio_basis_df)} –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤")
    print("\n–ü—Ä–∏–º–µ—Ä—ã –∑–∞–ø–∏—Å–µ–π:")
    # display(portfolio_basis_df.head())
    
    # –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ –≤–µ—Å–æ–≤—ã–º –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–∞–º
    print(f"\n–°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –≤–µ—Å–æ–≤—ã—Ö –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤ W_0:")
    print(f"–ú–∏–Ω–∏–º—É–º: {portfolio_basis_df['W_0'].min():.6f}")
    print(f"–ú–∞–∫—Å–∏–º—É–º: {portfolio_basis_df['W_0'].max():.6f}")
    print(f"–°—Ä–µ–¥–Ω–µ–µ: {portfolio_basis_df['W_0'].mean():.6f}")
    print(f"–ú–µ–¥–∏–∞–Ω–∞: {portfolio_basis_df['W_0'].median():.6f}")
    
else:
    print("–û—à–∏–±–∫–∞: –ù–µ —É–¥–∞–ª–æ—Å—å —Å–æ–∑–¥–∞—Ç—å –æ—Å–Ω–æ–≤—É –ø–æ—Ä—Ç—Ñ–µ–ª—è.")
    if SEC_IND_PRICE is None:
        print("- –ò–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç –Ω–µ –Ω–∞–π–¥–µ–Ω")
    if filtered_securities.empty:
        print("- –ù–µ—Ç –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤")

–°–æ–∑–¥–∞–µ–º –æ—Å–Ω–æ–≤—É –ø–æ—Ä—Ç—Ñ–µ–ª—è —Å 1 –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞
–ò–Ω–¥–∏–∫–∞—Ç–æ—Ä–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç: MXZ5 (—Ü–µ–Ω–∞: 281,500.00 —Ä—É–±.)

–°–æ–∑–¥–∞–Ω–∞ –æ—Å–Ω–æ–≤–∞ –ø–æ—Ä—Ç—Ñ–µ–ª—è –¥–ª—è 44 –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤

–ü—Ä–∏–º–µ—Ä—ã –∑–∞–ø–∏—Å–µ–π:

–°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –≤–µ—Å–æ–≤—ã—Ö –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–æ–≤ W_0:
–ú–∏–Ω–∏–º—É–º: 0.002000
–ú–∞–∫—Å–∏–º—É–º: 0.402000
–°—Ä–µ–¥–Ω–µ–µ: 0.054682
–ú–µ–¥–∏–∞–Ω–∞: 0.023000

## 7. –†–∞–∑–º–Ω–æ–∂–µ–Ω–∏–µ —Å—Ç—Ä–æ–∫ –ø–æ NUM_PARAMS

–°–æ–∑–¥–∞–µ–º strategy_id –¥–ª—è –∫–∞–∂–¥–æ–π –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ –∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞, —Ä–∞–∑–º–Ω–æ–∂–∞—è —Å—Ç—Ä–æ–∫–∏ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤.

In [27]:
if 'portfolio_basis_df' in locals() and not portfolio_basis_df.empty:
    print("–†–∞–∑–º–Ω–æ–∂–∞–µ–º —Å—Ç—Ä–æ–∫–∏ –ø–æ NUM_PARAMS...")
    
    # –°–æ–∑–¥–∞–µ–º —Å–ø–∏—Å–æ–∫ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –æ—Ç 1 –¥–æ NUM_PARAMS
    params_list = list(range(1, NUM_PARAMS + 1))
    print(f"–°–ø–∏—Å–æ–∫ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤: {params_list}")
    
    # –°–æ–∑–¥–∞–µ–º —Ä–∞–∑–º–Ω–æ–∂–µ–Ω–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏
    expanded_portfolio = []
    
    for idx, row in portfolio_basis_df.iterrows():
        for param_num in params_list:
            # –°–æ–∑–¥–∞–µ–º strategy_id
            strategy_id = f"{row['Sec_0']}_{param_num}"
            
            # –ö–æ–ø–∏—Ä—É–µ–º –≤—Å–µ –¥–∞–Ω–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏
            expanded_row = row.copy()
            expanded_row['strategy_id'] = strategy_id
            expanded_row['param_num'] = param_num
            
            # –ü–µ—Ä–µ—É–ø–æ—Ä—è–¥–æ—á–∏–≤–∞–µ–º –∫–æ–ª–æ–Ω–∫–∏, —á—Ç–æ–±—ã strategy_id –±—ã–ª–∞ –ø–µ—Ä–≤–æ–π
            expanded_row = expanded_row.reindex(['strategy_id'] + [col for col in expanded_row.index if col != 'strategy_id'])
            
            expanded_portfolio.append(expanded_row)
    
    # –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ DataFrame
    expanded_portfolio_df = pd.DataFrame(expanded_portfolio)
    
    print(f"\n–†–∞–∑–º–Ω–æ–∂–µ–Ω–∏–µ –∑–∞–≤–µ—Ä—à–µ–Ω–æ:")
    print(f"–ò—Å—Ö–æ–¥–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: {len(portfolio_basis_df)}")
    print(f"–ü–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –Ω–∞ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç: {NUM_PARAMS}")
    print(f"–ò—Ç–æ–≥–æ —Å—Ç—Ä–æ–∫: {len(expanded_portfolio_df)}")
    print(f"–û–∂–∏–¥–∞–ª–æ—Å—å: {len(portfolio_basis_df) * NUM_PARAMS}")
    
    print("\n–ü—Ä–∏–º–µ—Ä—ã strategy_id:")
    sample_strategies = expanded_portfolio_df['strategy_id'].head(10).tolist()
    print(sample_strategies)
    
    print("\n–ü—Ä–∏–º–µ—Ä—ã –∑–∞–ø–∏—Å–µ–π:")
    display(expanded_portfolio_df[['strategy_id', 'Sec_0', 'param_num', 'W_0', 'SM']].head())
    
    # –ü—Ä–æ–≤–µ—Ä—è–µ–º —É–Ω–∏–∫–∞–ª—å–Ω–æ—Å—Ç—å strategy_id
    unique_strategies = expanded_portfolio_df['strategy_id'].nunique()
    total_strategies = len(expanded_portfolio_df)
    print(f"\n–ü—Ä–æ–≤–µ—Ä–∫–∞ —É–Ω–∏–∫–∞–ª—å–Ω–æ—Å—Ç–∏:")
    print(f"–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö strategy_id: {unique_strategies}")
    print(f"–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫: {total_strategies}")
    print(f"–°–æ–≤–ø–∞–¥–∞—é—Ç: {unique_strategies == total_strategies}")
    
else:
    print("–û—à–∏–±–∫–∞: –ù–µ —É–¥–∞–ª–æ—Å—å —Ä–∞–∑–º–Ω–æ–∂–∏—Ç—å —Å—Ç—Ä–æ–∫–∏.")
    print("–£–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –æ—Å–Ω–æ–≤–∞ –ø–æ—Ä—Ç—Ñ–µ–ª—è –±—ã–ª–∞ —Å–æ–∑–¥–∞–Ω–∞ —É—Å–ø–µ—à–Ω–æ.")

expanded_portfolio_df = expanded_portfolio_df.reset_index(drop=True)

–†–∞–∑–º–Ω–æ–∂–∞–µ–º —Å—Ç—Ä–æ–∫–∏ –ø–æ NUM_PARAMS...
–°–ø–∏—Å–æ–∫ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤: [1]

–†–∞–∑–º–Ω–æ–∂–µ–Ω–∏–µ –∑–∞–≤–µ—Ä—à–µ–Ω–æ:
–ò—Å—Ö–æ–¥–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: 44
–ü–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –Ω–∞ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç: 1
–ò—Ç–æ–≥–æ —Å—Ç—Ä–æ–∫: 44
–û–∂–∏–¥–∞–ª–æ—Å—å: 44

–ü—Ä–∏–º–µ—Ä—ã strategy_id:
['AFZ5_1', 'AKZ5_1', 'ALZ5_1', 'BNZ5_1', 'CMZ5_1', 'FLZ5_1', 'FSZ5_1', 'GKZ5_1', 'GZZ5_1', 'HDZ5_1']

–ü—Ä–∏–º–µ—Ä—ã –∑–∞–ø–∏—Å–µ–π:

  strategy_id Sec_0  param_num    W_0             SM
0      AFZ5_1  AFZ5          1  0.020  1;1;0.01;0.05
1      AKZ5_1  AKZ5          1  0.052  1;2;0.01;0.05
2      ALZ5_1  ALZ5          1  0.016  1;1;0.01;0.05
3      BNZ5_1  BNZ5          1  0.005  1;1;0.01;0.05
4      CMZ5_1  CMZ5          1  0.026  1;1;0.01;0.05

–ü—Ä–æ–≤–µ—Ä–∫–∞ —É–Ω–∏–∫–∞–ª—å–Ω–æ—Å—Ç–∏:
–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö strategy_id: 44
–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫: 44
–°–æ–≤–ø–∞–¥–∞—é—Ç: True

In [21]:
expanded_portfolio_df.head()

,strategy_id,Sec_0,sec_0_price,sec_0_GO,sec_1,W_0,SM,param_num
0,AFZ5_1,AFZ5,5793.0,1538.73,MXZ5,0.020,1;1;0.01;0.05,1
1,AKZ5_1,AKZ5,14687.0,3831.65,MXZ5,0.052,4;2;0.01;0.05,1
2,ALZ5_1,ALZ5,4627.0,1235.04,MXZ5,0.016,1;1;0.01;0.05,1
3,BNZ5_1,BNZ5,1600.0,544.78,MXZ5,0.005,1;1;0.01;0.05,1
4,CMZ5_1,CMZ5,7539.0,2631.05,MXZ5,0.026,2;1;0.01;0.05,1

## 8. –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ —Ñ–∏–Ω–∞–ª—å–Ω–æ–≥–æ –∫–∞—Ä–∫–∞—Å–∞ –ø–æ—Ä—Ç—Ñ–µ–ª—è

–°–æ–∑–¥–∞–µ–º —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É –ø–æ—Ä—Ç—Ñ–µ–ª—è —Å –∞–Ω–∞–ª–∏–∑–æ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤.

## 8.1. –¢–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ –Ω–æ–≤–æ–π —Ñ—É–Ω–∫—Ü–∏–∏ build_portfolio_advanced

–¢–µ–ø–µ—Ä—å –ø—Ä–æ—Ç–µ—Å—Ç–∏—Ä—É–µ–º –Ω–æ–≤—É—é —Ñ—É–Ω–∫—Ü–∏—é `build_portfolio_advanced`, –∫–æ—Ç–æ—Ä–∞—è –º–æ–∂–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å —Å –ª—é–±—ã–º DataFrame –∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—è—Ç—å –∫–∞–ø–∏—Ç–∞–ª –ø–æ –≥—Ä—É–ø–ø–∞–º –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º.

In [28]:

# –ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –Ω–æ–≤—É—é —Ñ—É–Ω–∫—Ü–∏—é
from tvr_service.pipeline import build_portfolio_advanced

if 'expanded_portfolio_df' in locals() and not expanded_portfolio_df.empty:
    print("‚ö†Ô∏è  expanded_portfolio_df –Ω–µ –Ω–∞–π–¥–µ–Ω.")
    

    
    # –¢–µ–ø–µ—Ä—å –ø—Ä–∏–º–µ–Ω—è–µ–º –Ω–æ–≤—É—é —Ñ—É–Ω–∫—Ü–∏—é
    portfolio_with_allocation = build_portfolio_advanced(
        data=expanded_portfolio_df,
        capital=CAPITAL,
        security_column="Sec_0",
        price_column="sec_0_GO",
        param_num_column="param_num",
        ensure_min_contract=True
    )
    
    print(f"–†–µ–∑—É–ª—å—Ç–∞—Ç: {len(portfolio_with_allocation)} —Å—Ç—Ä–æ–∫")
    print("\n–ü—Ä–∏–º–µ—Ä —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞:")
    display(portfolio_with_allocation[['strategy_id', 'Sec_0', 'param_num', 'sec_0_price', 'allocation', 'estimated_lots', 'used_capital', 'unused_capital']].head(10))
    
else:
    print("‚ùå –û—à–∏–±–∫–∞: –ù–µ –Ω–∞–π–¥–µ–Ω—ã –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –¥–∞–Ω–Ω—ã–µ.")
    print("–î–æ—Å—Ç—É–ø–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ:")
    available_vars = [var for var in locals() if 'portfolio' in var.lower() or 'expanded' in var.lower()]
    if available_vars:
        print(f"  - {', '.join(available_vars)}")
    else:
        print("  - –ù–µ—Ç –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö —Å 'portfolio' –∏–ª–∏ 'expanded' –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏")
    print("\n–£–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –≤—ã–ø–æ–ª–Ω–∏–ª–∏ –≤—Å–µ –ø—Ä–µ–¥—ã–¥—É—â–∏–µ —à–∞–≥–∏ –±–ª–æ–∫–Ω–æ—Ç–∞.")

# –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –∫–∞–ø–∏—Ç–∞–ª–∞
if 'portfolio_with_allocation' in locals():
    print("=== –ê–ù–ê–õ–ò–ó –†–ê–°–ü–†–ï–î–ï–õ–ï–ù–ò–Ø –ö–ê–ü–ò–¢–ê–õ–ê ===\n")
    
    # –û–±—â–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞
    total_used = portfolio_with_allocation['used_capital'].sum()
    total_unused = portfolio_with_allocation['unused_capital'].sum()
    utilization_rate = total_used / CAPITAL * 100
    
    print(f"–û–±—â–∏–π –∫–∞–ø–∏—Ç–∞–ª: {CAPITAL:,.0f} —Ä—É–±.")
    print(f"–ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–æ: {total_used:,.0f} —Ä—É–±. ({utilization_rate:.1f}%)")
    print(f"–ù–µ–∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–æ: {total_unused:,.0f} —Ä—É–±. ({100-utilization_rate:.1f}%)")
    
    # –°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –ø–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞–º
    print(f"\n=== –°–¢–ê–¢–ò–°–¢–ò–ö–ê –ü–û –ò–ù–°–¢–†–£–ú–ï–ù–¢–ê–ú ===")
    instrument_stats = portfolio_with_allocation.groupby('Sec_0').agg({
        'allocation': 'first',  # allocation –æ–¥–∏–Ω–∞–∫–æ–≤–∞—è –¥–ª—è –≤—Å–µ—Ö —Å—Ç—Ä–æ–∫ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞
        'estimated_lots': 'sum',
        'used_capital': 'sum',
        'unused_capital': 'sum',
        'param_num': 'count'
    }).rename(columns={'param_num': 'param_count'})
    
    print(f"–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: {len(instrument_stats)}")
    print(f"–ö–∞–ø–∏—Ç–∞–ª –Ω–∞ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç: {CAPITAL / len(instrument_stats):,.0f} —Ä—É–±.")
    print("\n–¢–æ–ø-5 –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –ø–æ –∏—Å–ø–æ–ª—å–∑—É–µ–º–æ–º—É –∫–∞–ø–∏—Ç–∞–ª—É:")
    top_instruments = instrument_stats.nlargest(44, 'used_capital')[['used_capital', 'estimated_lots', 'param_count']]
    display(top_instruments)
    
    
    
else:
    print("–ü–µ—Ä–µ–º–µ–Ω–Ω–∞—è portfolio_with_allocation –Ω–µ –Ω–∞–π–¥–µ–Ω–∞.")

‚ö†Ô∏è  expanded_portfolio_df –Ω–µ –Ω–∞–π–¥–µ–Ω.
–†–µ–∑—É–ª—å—Ç–∞—Ç: 44 —Å—Ç—Ä–æ–∫

–ü—Ä–∏–º–µ—Ä —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞:

,strategy_id,Sec_0,param_num,sec_0_price,allocation,estimated_lots,used_capital,unused_capital
0,AFZ5_1,AFZ5,1,5793.0,6818.181818,4,6154.92,663.261818
1,AKZ5_1,AKZ5,1,14687.0,6818.181818,1,3831.65,2986.531818
2,ALZ5_1,ALZ5,1,4627.0,6818.181818,5,6175.20,642.981818
3,BNZ5_1,BNZ5,1,1600.0,6818.181818,12,6537.36,280.821818
4,CMZ5_1,CMZ5,1,7539.0,6818.181818,2,5262.10,1556.081818
5,FLZ5_1,FLZ5,1,8367.0,6818.181818,4,6205.92,612.261818
6,FSZ5_1,FSZ5,1,6850.0,6818.181818,4,5783.40,1034.781818
7,GKZ5_1,GKZ5,1,1277.0,6818.181818,28,6753.60,64.581818
8,GZZ5_1,GZZ5,1,12441.0,6818.181818,2,4582.18,2236.001818
9,HDZ5_1,HDZ5,1,3543.0,6818.181818,5,6000.20,817.981818

=== –ê–ù–ê–õ–ò–ó –†–ê–°–ü–†–ï–î–ï–õ–ï–ù–ò–Ø –ö–ê–ü–ò–¢–ê–õ–ê ===

–û–±—â–∏–π –∫–∞–ø–∏—Ç–∞–ª: 300,000 —Ä—É–±.
–ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–æ: 306,525 —Ä—É–±. (102.2%)
–ù–µ–∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–æ: 30,814 —Ä—É–±. (-2.2%)

=== –°–¢–ê–¢–ò–°–¢–ò–ö–ê –ü–û –ò–ù–°–¢–†–£–ú–ï–ù–¢–ê–ú ===
–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤: 44
–ö–∞–ø–∏—Ç–∞–ª –Ω–∞ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç: 6,818 —Ä—É–±.

–¢–æ–ø-5 –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –ø–æ –∏—Å–ø–æ–ª—å–∑—É–µ–º–æ–º—É –∫–∞–ø–∏—Ç–∞–ª—É:

       used_capital  estimated_lots  param_count
Sec_0
NKZ5       25195.18               1            1
LKZ5       13819.97               1            1
TTZ5       12287.84               1            1
RNZ5        9554.61               1            1
SGZ5        8971.47               1            1
IRZ5        8419.58               1            1
WUZ5        6811.56              18            1
RTZ5        6783.05               5            1
TBZ5        6769.07              11            1
MVZ5        6764.00              16            1
GKZ5        6753.60              28            1
S0Z5        6735.50              19            1
SCZ5        6708.42              27            1
PSZ5        6704.16              16            1
VKZ5        6699.20               8            1
VBZ5        6673.05               5            1
TNZ5        6670.56              24            1
RLZ5        6632.23              11            1
BNZ5        6537.36              12            1
SSZ5        6509.04              12            1
SEZ5        6493.50               6            1
MEZ5        6470.22               2            1
X5Z5        6428.52              12            1
FLZ5        6205.92               4            1
MNZ5        6205.60               8            1
YDZ5        6197.60               8            1
ALZ5        6175.20               5            1
AFZ5        6154.92               4            1
PIZ5        6076.30               5            1
SOZ5        6059.16               6            1
HDZ5        6000.20               5            1
FSZ5        5783.40               4            1
MGZ5        5647.93               1            1
SRZ5        5642.23               1            1
SPZ5        5633.11               1            1
PHZ5        5576.60               4            1
MCZ5        5318.54               2            1
CMZ5        5262.10               2            1
NMZ5        4791.42               2            1
SNZ5        4781.79               1            1
MTZ5        4653.33               1            1
GZZ5        4582.18               2            1
PXZ5        4554.51               1            1
AKZ5        3831.65               1            1

In [14]:
portfolio_with_allocation

,strategy_id,Sec_0,sec_0_price,sec_0_GO,sec_1,W_0,SM,param_num,allocation,estimated_lots,used_capital,unused_capital
0,AFZ5_1,AFZ5,5793.0,1538.73,MXZ5,0.020,1;1;0.01;0.05,1,3077.460000,2,3077.46,0.000000
1,AFZ5_2,AFZ5,5793.0,1538.73,MXZ5,0.020,1;1;0.01;0.05,2,2201.991818,1,1538.73,663.261818
2,AFZ5_3,AFZ5,5793.0,1538.73,MXZ5,0.020,1;1;0.01;0.05,3,1538.730000,1,1538.73,0.000000
3,AKZ5_1,AKZ5,14687.0,3831.65,MXZ5,0.052,4;1;0.01;0.05,1,3831.650000,1,3831.65,0.000000
4,AKZ5_2,AKZ5,14687.0,3831.65,MXZ5,0.052,4;1;0.01;0.05,2,2986.531818,0,0.00,2986.531818
...,...,...,...,...,...,...,...,...,...,...,...,...
127,X5Z5_2,X5Z5,2815.0,535.71,MXZ5,0.010,1;1;0.01;0.05,2,2142.840000,4,2142.84,0.000000
128,X5Z5_3,X5Z5,2815.0,535.71,MXZ5,0.010,1;1;0.01;0.05,3,2142.840000,4,2142.84,0.000000
129,YDZ5_1,YDZ5,4192.0,774.70,MXZ5,0.014,1;1;0.01;0.05,1,2324.100000,3,2324.10,0.000000
130,YDZ5_2,YDZ5,4192.0,774.70,MXZ5,0.014,1;1;0.01;0.05,2,2324.100000,3,2324.10,0.000000
131,YDZ5_3,YDZ5,4192.0,774.70,MXZ5,0.014,1;1;0.01;0.05,3,2169.981818,2,1549.40,620.581818

In [29]:
## 9. –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ —Ñ–∏–Ω–∞–ª—å–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã –ø–æ—Ä—Ç—Ñ–µ–ª—è

# –°–æ–∑–¥–∞–µ–º —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É —Å–æ –≤—Å–µ–º–∏ –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ –∏ –¥–æ–±–∞–≤–ª–µ–Ω–Ω—ã–º —Å—Ç–æ–ª–±—Ü–æ–º V_0
if 'portfolio_with_allocation' in locals():
    print("–°–æ–∑–¥–∞–µ–º —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ—Ä—Ç—Ñ–µ–ª—è...")
    
    # –ö–æ–ø–∏—Ä—É–µ–º –≤—Å–µ –¥–∞–Ω–Ω—ã–µ –∏–∑ –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã
    Final_portfolio_all = expanded_portfolio_df.copy()
    
    # –î–æ–±–∞–≤–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü V_0 —Å –¥–∞–Ω–Ω—ã–º–∏ –∏–∑ estimated_lots
    Final_portfolio_all['V_0'] = portfolio_with_allocation['estimated_lots']
    
       
else:
    print("‚ùå –û—à–∏–±–∫–∞: portfolio_with_allocation –Ω–µ –Ω–∞–π–¥–µ–Ω.")
    print("–£–±–µ–¥–∏—Ç–µ—Å—å, —á—Ç–æ –ø—Ä–µ–¥—ã–¥—É—â–∏–µ —è—á–µ–π–∫–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã —É—Å–ø–µ—à–Ω–æ.")

–°–æ–∑–¥–∞–µ–º —Ñ–∏–Ω–∞–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É –ø–æ—Ä—Ç—Ñ–µ–ª—è...

In [40]:
Final_portfolio_all.to_csv('porfolio_base.csv', sep = ',')

In [43]:
from pandas import read_csv


port_base = read_csv('porfolio_base.csv', header=0)

In [44]:
port_base

,Unnamed: 0,strategy_id,Sec_0,sec_0_price,sec_0_GO,sec_1,W_0,SM,param_num,V_0
0,0,AFZ5_1,AFZ5,5793.0,1538.73,MXZ5,0.020,1;1;0.01;0.05,1,4
1,1,AKZ5_1,AKZ5,14687.0,3831.65,MXZ5,0.052,1;2;0.01;0.05,1,1
2,2,ALZ5_1,ALZ5,4627.0,1235.04,MXZ5,0.016,1;1;0.01;0.05,1,5
3,3,BNZ5_1,BNZ5,1600.0,544.78,MXZ5,0.005,1;1;0.01;0.05,1,12
4,4,CMZ5_1,CMZ5,7539.0,2631.05,MXZ5,0.026,1;1;0.01;0.05,1,2
5,5,FLZ5_1,FLZ5,8367.0,1551.48,MXZ5,0.029,1;1;0.01;0.05,1,4
6,6,FSZ5_1,FSZ5,6850.0,1445.85,MXZ5,0.024,1;1;0.01;0.05,1,4
7,7,GKZ5_1,GKZ5,1277.0,241.20,MXZ5,0.004,1;1;0.01;0.05,1,28
8,8,GZZ5_1,GZZ5,12441.0,2291.09,MXZ5,0.044,1;2;0.01;0.05,1,2
9,9,HDZ5_1,HDZ5,3543.0,1200.04,MXZ5,0.012,1;1;0.01;0.05,1,5
10,10,IRZ5_1,IRZ5,31938.0,8419.58,MXZ5,0.113,3;6;0.01;0.05,1,1
11,11,LKZ5_1,LKZ5,63243.0,13819.97,MXZ5,0.224,6;12;0.01;0.05,1,1
12,12,MCZ5_1,MCZ5,7703.0,2659.27,MXZ5,0.027,1;1;0.01;0.05,1,2
13,13,MEZ5_1,MEZ5,17553.0,3235.11,MXZ5,0.062,1;3;0.01;0.05,1,2
14,14,MGZ5_1,MGZ5,30626.0,5647.93,MXZ5,0.108,3;6;0.01;0.05,1,1
15,15,MNZ5_1,MNZ5,3369.0,775.70,MXZ5,0.011,1;1;0.01;0.05,1,8
16,16,MTZ5_1,MTZ5,21639.0,4653.33,MXZ5,0.076,2;4;0.01;0.05,1,1
17,17,MVZ5_1,MVZ5,579.0,422.75,MXZ5,0.002,1;1;0.01;0.05,1,16
18,18,NKZ5_1,NKZ5,113207.0,25195.18,MXZ5,0.402,11;22;0.01;0.05,1,1
19,19,NMZ5_1,NMZ5,11166.0,2395.71,MXZ5,0.039,1;2;0.01;0.05,1,2
20,20,PHZ5_1,PHZ5,7139.0,1394.15,MXZ5,0.025,1;1;0.01;0.05,1,4
21,21,PIZ5_1,PIZ5,5796.0,1215.26,MXZ5,0.020,1;1;0.01;0.05,1,5
22,22,PSZ5_1,PSZ5,1254.0,419.01,MXZ5,0.004,1;1;0.01;0.05,1,16
23,23,PXZ5_1,PXZ5,23433.0,4554.51,MXZ5,0.083,2;4;0.01;0.05,1,1
24,24,RLZ5_1,RLZ5,3284.0,602.93,MXZ5,0.011,1;1;0.01;0.05,1,11
25,25,RNZ5_1,RNZ5,44048.0,9554.61,MXZ5,0.156,4;8;0.01;0.05,1,1
26,26,RTZ5_1,RTZ5,6374.0,1356.61,MXZ5,0.022,1;1;0.01;0.05,1,5
27,27,S0Z5_1,S0Z5,1045.0,354.50,MXZ5,0.003,1;1;0.01;0.05,1,19
28,28,SCZ5_1,SCZ5,1359.0,248.46,MXZ5,0.004,1;1;0.01;0.05,1,27
29,29,SEZ5_1,SEZ5,2296.0,1082.25,MXZ5,0.008,1;1;0.01;0.05,1,6
30,30,SGZ5_1,SGZ5,42591.0,8971.47,MXZ5,0.151,4;8;0.01;0.05,1,1
31,31,SNZ5_1,SNZ5,22335.0,4781.79,MXZ5,0.079,2;4;0.01;0.05,1,1
32,32,SOZ5_1,SOZ5,5086.0,1009.86,MXZ5,0.018,1;1;0.01;0.05,1,6
33,33,SPZ5_1,SPZ5,30297.0,5633.11,MXZ5,0.107,3;6;0.01;0.05,1,1
34,34,SRZ5_1,SRZ5,30349.0,5642.23,MXZ5,0.107,3;6;0.01;0.05,1,1
35,35,SSZ5_1,SSZ5,1083.0,542.42,MXZ5,0.003,1;1;0.01;0.05,1,12
36,36,TBZ5_1,TBZ5,3222.0,615.37,MXZ5,0.011,1;1;0.01;0.05,1,11
37,37,TNZ5_1,TNZ5,1280.0,277.94,MXZ5,0.004,1;1;0.01;0.05,1,24
38,38,TTZ5_1,TTZ5,65320.0,12287.84,MXZ5,0.232,6;13;0.01;0.05,1,1
39,39,VBZ5_1,VBZ5,7222.0,1334.61,MXZ5,0.025,1;1;0.01;0.05,1,5
40,40,VKZ5_1,VKZ5,3076.0,837.40,MXZ5,0.010,1;1;0.01;0.05,1,8
41,41,WUZ5_1,WUZ5,1092.0,378.42,MXZ5,0.003,1;1;0.01;0.05,1,18
42,42,X5Z5_1,X5Z5,2815.0,535.71,MXZ5,0.010,1;1;0.01;0.05,1,12
43,43,YDZ5_1,YDZ5,4192.0,774.70,MXZ5,0.014,1;1;0.01;0.05,1,8